<launch>


<include file="$(find openni_launch)/launch/openni.launch" />

<include file="$(find ISL_localization)/amcl_mstf.launch" />

<include file="$(find turtlebot_navigation)/config/move_base_turtlebot.launch" />

<node name="map_server" pkg="map_server" type="map_server" args="$(find ISL_localization)/hector_map_mustafa.yaml" />

</launch>
